section(id=contact.nav_name.replace(' ', '-').toLowerCase())
    .container
        .row
            .col-lg-12.text-center
                h2= contact.title
                hr.star-primary
        .row
            .col-lg-8.col-lg-offset-2
                form(name="sentMessage", novalidate)#contactForm
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label Name
                            input(type="text", placeholder="Name",required data-validation-required-message="Please enter your name.")#name.form-control
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label Email Address
                            input(type="text", placeholder="Email Address",required data-validation-required-message="Please enter your email address..")#email.form-control
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label Phone Number
                            input(type="text", placeholder="Phone Number",required data-validation-required-message="Please enter your phone number..")#phone.form-control
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label Message
                            input(type="text", placeholder="Message",required data-validation-required-message="Please enter a message..")#message.form-control
                            p.help-block.text-danger
                    br
                    .success
                    .row
                        .form-group.col-xs-12
                            button(type="submit").btn.btn-success.btn-lg Send
