header
    .container
        .row
            .col-lg-12
                img(src="images/#{header.image}" alt="").img-responsive#profile-img
                .intro-text
                    span.name= header.title
                    hr.star-light
                    span.skills= header.skills