script(src="javascripts/jquery-1.11.0.min.js" async)
script(src="javascripts/bootstrap.min.js" async)
script(src="javascripts/jquery.easing.min.js" async)
script(src="javascripts/classie.min.js" async)
script(src="javascripts/cbpAnimatedHeader.min.js" async)
script(src="javascripts/jqBootstrapValidation.min.js" async)
script(src="javascripts/contact_me.min.js" async)
script(src="javascripts/freelancer.min.js" async)