section(id=live_feed.nav_name.replace(' ', '-').toLowerCase()).success
    .container
        .row
            .col-lg-12.text-center
                h2= live_feed.title
                hr.star-light
        .row
            .col-lg-8.col-lg-offset-2.text-center
                h3= live_feed.text
