nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header.page-scroll
            button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1").navbar-toggle
                span.sr-only
                span.icon-bar
                span.icon-bar
            a(href="#page-top").navbar-brand= navigation.brand
        #bs-example-header-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href="#page-top")
                each section in sections
                    - var id = "#" + (section.name).replace(' ', '-').toLowerCase()
                    li.page-scroll
                        a(href=id)= section.name
