doctype html
html(lang="en")
  head
    include ./includes/head
  body#page-top.index
    include ./includes/navigation
    include ./includes/header
    include ./includes/about
    include ./includes/live_feed
    include ./includes/contact
    include ./includes/footer
    include ./includes/scroll_top
    include ./includes/javascripts

